  .img1 {
    margin-top: 30%;
    }
   .img2 {
   margin-top: 20%;
  }
    .img3 {
     margin-top: 10%;
     } 
  .a-desc{
      font-weight: 400;
      font-size: large;
      
  }  
 